<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>로그인 페이지</title>
	<link rel="stylesheet" href="/style.css" />
	<script src="https://unpkg.com/scrollreveal"></script>
	<script src="/index.js" defer></script>
  </head>
  <body>
    <!-- <h3 class="index__title">그때 그 시절 노래 맞추기</h3> -->
    <!-- Background images -->
    <div class="background-images">
		<img src="/image/back_img_1.jpg" class="image image1" alt="Image 1" />
		<img src="/image/back_img_2.jpg" class="image image2" alt="Image 2" />
		<img src="/image/back_img_3.png" class="image image3" alt="Image 3" />
		<img src="/image/back_img_4.jpg" class="image image4" alt="Image 4" />
		<img src="/image/back_img_5.jpg" class="image image5" alt="Image 5" />
		<img src="/image/back_img_6.jpg" class="image image6" alt="Image 6" />
		<img src="/image/back_img_7.jpg" class="image image7" alt="Image 7" />
		<img src="/image/back_img_8.jfif" class="image image8" alt="Image 8" />
		<img src="/image/back_img_9.jfif" class="image image9" alt="Image 9" />
		<img src="/image/back_img_10.jpg" class="image image10" alt="Image 10" />
		<img src="/image/back_img_12.jpg" class="image image12" alt="Image 12" />
    </div>

    <img src="./image/index_logo.png" class="logo" alt="Logo" />

    <main>
      <form class="login">
        <input type="text" placeholder="아이디" />
        <input type="password" placeholder="비밀번호" />
        <button>로그인</button>
        <a href="register.html">계정이 없으신가요? 회원가입</a>
      </form>
    </main>
  </body>
</html>
